.model {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    z-index: 101;
    background-color: rgba(0, 0, 0, 0.2);
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

@keyframes animate {
    from {
        opacity: 0.3;
        transform: translateY(70%);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}
.body {
    background-color: var(--white-color);
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    animation: animate 0.3s ease-in forwards;
}

.header {
    display: flex;
    padding: 16px 0;
    border-bottom: 1px solid var(--border-color);
}

.info-img {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

.img {
    width: 48px;
    height: 48px;
    object-fit: cover;
    border-radius: 6px;
    margin: 0 8px;
}

.model_song-img {
    display: flex;
    justify-content: center;
    align-items: center;
}

.model-content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: 0;
    padding-bottom: 12px;
}

.content-item {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    padding: 8px;
    border-radius: 2px;
    &:hover {
        background-color: var(--background-color);
        .item-text {
            color: var(--primary-color);
        }
        .item-icon {
            color: var(--primary-color);
        }
    }
}

.item-text {
    font-weight: 400;
    font-size: 1.6rem;
    color: var(--text-color);
    padding: 4px 12px;
}

.item-icon {
    font-weight: 300;
    font-size: 2rem;
}

.item-icon.heart {
    color: var(--primary-color);
}

// add playlist model
.header-title {
    width: 100%;
    font-weight: 400;
    font-size: 1.6rem;
    color: var(--text-color);
    padding: 12px 12px;
    text-align: center;
}

.content-item-playlist {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 0 12px;
    &:hover {
        background-color: var(--background-color);
        .item-text-playlist {
            color: var(--primary-color);
        }
    }
    margin-bottom: 12px;
}

.item-playlist-img {
    width: 40px;
    height: 40px;
    border-radius: 4px;
}
.playlist-info {
}

.item-text-playlist {
    font-weight: 400;
    font-size: 1.6rem;
    color: var(--text-color);
    padding: 0 12px;
}
