.wrapper.small {
    display: none;
}

.wrapper {
}

.container {
    position: fixed;
    z-index: 100;
    overflow: hidden;
    bottom: 0;
    right: 0;
    left: 0;
    top: 0;
    animation: show ease-in 0.2s forwards;
}

.container.small {
    right: 0;
    left: 0;
    bottom: 60px;
}

.container.hiden {
    display: none;
}

.container.hide {
    animation: hiden 0.2s ease-in;
}

@keyframes show {
    from {
        opacity: 0.3;
        transform: translate(0, 70%);
    }
    to {
        opacity: 1;
        transform: translate(0, 0);
    }
}

@keyframes hiden {
    0% {
        opacity: 1;
        transform: translate(0, 0);
    }
    100% {
        opacity: 0;
        transform: translate(0, 80%);
    }
}

.small-audio {
    height: 50px;
    background-color: var(--white-color);
    display: none;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    box-shadow: 0 -2px 8px 6px rgba(217, 210, 249, 0.3);
}

.small-audio.show {
    display: flex;
}

.body {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(255, 255, 255, 0.4);
    z-index: 102;
    display: flex;
    flex-direction: column;
}

.img-position {
    position: absolute;
    background-size: cover;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    filter: blur(20px);
    z-index: 101;
    animation: fadeIn 0.3s ease-in forwards;
}

.img-position img {
    height: 100%;
    object-fit: cover;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes rotate {
    from {
        transform: rotate(0);
    }
    to {
        transform: rotate(360deg);
    }
}

.div-position {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: var(--primary-color);
    z-index: 100;
}

.show {
    display: none;
}

.responsive {
    position: absolute;
    right: 6px;
    top: 0;
    z-index: 11;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.responsive-icon {
    width: 16px;
    height: 16px;
    cursor: pointer;
}

.button-close {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 4px 4px;
    &:hover {
        background-color: var(--white-color);
    }
    border: 1px solid var(--background-color);
    border-radius: 4px;
    margin: 0 4px;
    cursor: pointer;
}

.info-song {
    max-width: 300px;
    overflow: hidden;
}

.info-song p {
    font-size: 1.6rem;
    font-weight: 400;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1;
    color: var(--primary-color);
    overflow: hidden;
    &:hover {
        cursor: default;
    }
    padding: 0 8px;
}

.info-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 99px;
    color: var(--primary-color);
    margin: 0 8px;
    &:hover {
        background-color: rgb(241, 239, 246);
    }
}

.action {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 20px 24px;
}

.button {
    display: flex;
    justify-content: center;
    align-items: center;
}

.button-list {
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 99px;
    color: var(--text-color);
    cursor: pointer;
    margin: 0 4px;
    &:hover {
        background-color: rgb(241, 239, 246);
    }
}

.button-list.active .button-icon {
    color: var(--primary-color);
}

.button-list-play,
.button-list-pause {
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 99px;
    border: 1px solid rgb(241, 239, 246);
    margin: 0 4px;
    &:hover {
        background-color: rgb(241, 239, 246);
        border-color: var(--primary-color);
        .button-icon-play {
            color: var(--primary-color);
        }
        .button-icon-pause {
            color: var(--primary-color);
        }
    }
    cursor: pointer;
}

.large .button-list-play,
.large .button-list-pause {
    width: 50px;
    height: 50px;
}
.button-icon-load {
    animation: rotate 1.5s linear infinite;
    color: var(--primary-color);
}

@keyframes rotate {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}
.more {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex: 1;
}

.more-wrapper {
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 99px;
    margin: 0 4px;
    cursor: pointer;
    &:hover {
        background-color: rgb(241, 239, 246);
    }
}

.more-volume {
    display: flex;
    justify-content: center;
    align-items: center;
}

.volume {
    width: 90px;
}
.split {
    height: 30px;
    width: 1px;
    border-left: 1px solid var(--text-color);
    margin-left: 16px;
    margin-right: 8px;
}

.more-list {
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 99px;
    cursor: pointer;
    &:hover {
        background-color: rgb(241, 239, 246);
    }
}

.header {
    position: relative;
    padding: 12px 36px;
    width: 100%;
}

.header-tab {
    display: flex;
    justify-content: center;
    align-items: center;
}

.header-item {
    text-align: center;
    color: var(--text-color);
    font-weight: 400;
    font-size: 1.6rem;
    flex: 1;
}

.header-item.active {
    color: var(--primary-color);
}

.header-icon {
    position: absolute;
    top: 50%;
    right: 12px;
    padding: 4px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    transform: translateY(-50%);
}

.song {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
}

.song-img {
    margin: 8px;
    border-radius: 50%;
    width: 300px;
    height: 300px;
}

.body-img {
    display: flex;
    justify-content: center;
    align-items: center;
}
.img {
    display: flex;
    justify-content: center;
    align-items: center;
}

.song-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 16px 8px;
}

.playlist-body {
    overflow-y: auto;
    overflow-x: hidden !important;
    height: 60vh;
}

.playlist-header {
    padding-top: 6px;
    padding-bottom: 12px;
}

.playlist-header p {
    color: var(--text-color);
    font-weight: 400;
    font-size: 1.6rem;
    padding: 0 4px;
}

.playlist-header span {
    color: var(--primary-color);
}

// footer
.footer {
    width: 100%;
    padding: 24px 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.lyric {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 12px 4px;
    height: 60vh;
}
// small audio

.small-input {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
}

.small-input::-webkit-slider-thumb {
    -webkit-appearance: none; /* Override default look */
    appearance: none;
    width: 25px; /* Set a specific slider handle width */
    height: 25px; /* Slider handle height */
    background: var(--primary-color); /* Green background */
    cursor: none; /* Cursor on hover */
}

.responsive-small {
    display: flex;
    justify-content: center;
    align-items: center;
}

.range {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.progressBar {
    -webkit-appearance: none;
    appearance: none;
    background: transparent;
    cursor: pointer;
    width: 100%;
}

.progressBar::-webkit-slider-runnable-track {
    height: 6px;
    background-color: var(--white-color);
    border-radius: 99px;
}

.progressBar::-webkit-slider-thumb {
    -webkit-appearance: none;
    height: 12px;
    width: 12px;
    border-radius: 50%;
    background-color: var(--primary-color);
    margin-top: -3px;
}

.range span {
    color: var(--text-color);
    font-weight: 400;
    font-size: 1.6rem;
    padding: 0 4px;
    user-select: none; /* standard syntax */
    -webkit-user-select: none; /* webkit (safari, chrome) browsers */
    -moz-user-select: none; /* mozilla browsers */
    -khtml-user-select: none; /* webkit (konqueror) browsers */
    -ms-user-select: none; /* IE10+ */
}

.small-info {
    flex: 0 0 70%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.small-button {
    flex: 0 0 30%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.small-info img {
    width: 36px;
    border-radius: 50%;
    margin-left: 8px;
}

.small-info-song p {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1;
    overflow: hidden;
    &:hover {
        cursor: default;
    }
    padding: 0 8px;
    font-weight: 400;
    font-size: 1.2rem;
    line-height: 1.6rem;
}

.small-info-song p:last-child {
    font-weight: 300;
}

.input-container {
    width: 100%;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 4px;
}

.input-track {
    position: absolute;
    left: 0;
    top: 0;
    background-color: var(--primary-color);
    height: 6px;
    border-top-left-radius: 99px;
    border-bottom-left-radius: 99px;
}

// slider

.slider {
    flex-grow: 1;
    overflow: hidden;
}
.slider-container {
    display: flex;
    overflow: hidden;
    width: 300%;
}

.slider-item {
    width: 100%;
    padding: 0 8px;
}
