.wrapper {
    border-top: 1px solid #ccc;
    display: flex;
    position: sticky;
    right: 0;
    left: 0;
    height: 60px;
    width: 100%;
    bottom: 0;
    background-color: var(--white-color);
    padding: 4px 4px;
    align-items: center;
    justify-content: space-evenly;
}

.list {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 4px 8px;
}

.list.active {
    color: var(--primary-color);
}

.active .navigate-img {
    color: var(--primary-color);
}

.text {
    font-weight: 300;
    font-size: 1.4rem;
    color: var(--text-color);
    padding-top: 4px;
}

// navigate
.mobile-navigate {
    padding: 8px;
    display: flex;
    flex-wrap: nowrap;
    overflow: auto;
}

.navigate-img {
    width: 20px;
    height: 20px;
    color: var(--text-color);
}

.navigate-img.genres {
    padding: 1px;
}

.navigate-img.text {
    padding: 0;
}
// .active .navigate-img {
//     color: var(--primary-color);
// }

.navigate-text {
    color: var(--text-color);
    font-size: 1.4rem;
    font-weight: 400;
    padding: 4px;
}

.active .navigate-text {
    color: var(--primary-color);
}
